@import 'c/sharedStyles';

.item-info-main-container {
  align-items: start;
  display: grid;
  grid-template-columns: 1fr minmax(200px, 360px);
  gap: var(--info-spacing);
  background: #ffffff;
  padding: var(--info-spacing);
}

/* First Panel (Details) */

.item-info-first-panel {
  min-width: 0;
  display: grid;
  gap: var(--info-spacing);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.item-info-box {
}

.item-info-title {
  display: inline-block;
  border-bottom: var(--info-border);
}

/* Second Panel (Image + Nutrients) */

.item-info-second-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--info-spacing);
}

.item-info-image {
  max-width: var(--max-image-width, 360px);
  max-height: var(--max-image-height, 360px);
  width: 100%;
  height: auto;
  object-fit: contain;
}

.item-info-nutrient-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.item-info-nutrient-box {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  column-gap: 0.5rem;
  width: 100%;
  max-width: 360px;
  text-align: left;
  position: relative;
  border-bottom: var(--info-border);
  padding-top: var(--nutrient-spacing);
}

.item-info-nutrient-title {
  white-space: nowrap;
  text-align: left;
  padding-top: var(--nutrient-spacing);
  font-weight: var(--info-label-weight);
}

.item-info-nutrient-value {
  margin: 0;
  text-align: right;
  padding-top: var(--nutrient-spacing);
}

@media (max-width: 600px) {
  .item-info-second-panel {
    justify-content: flex-start;
  }
  .item-info-image {
    max-width: 100%;
  }
}